.help-overlay {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .help-overlay__inside {
    box-sizing: border-box;
    padding: 20px;
    max-width: 600px;

    background: rgba(#000000, 0.8);

    border: 1px solid #ffffff;

    .help-overlay__inside__top {
      display: inline-block;
      width: 100%;
    }

    .help-overlay__inside__mid {
      .help-overlay__inside__mid-left,
      .help-overlay__inside__mid-right {
        display: inline-block;
        width: 50%;
      }
    }

    .help-overlay__inside__bottom {
      display: inline-block;
      width: 100%;
    }
  }

  ul {
    li {
      display: inline-block;
    }

    li:not(:last-child)::after {
      content: "|";
      padding: 0 0.5em 0 0.5em;
    }
  }

  dl {
    display: grid;
    grid-template-columns: max-content auto;

    dt {
      grid-column-start: 1;
      color: rgb(150, 150, 150);
      padding: 0 2em 0.5em 0;
    }

    dd {
      grid-column-start: 2;
    }
  }
}
