$margin: 12px;

div#info-layer {
  z-index: 1;
  font-size: $margin;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  mix-blend-mode: difference;

  span.magnitude {
    vertical-align: super;
    font-size: 0.8em;
  }

  div {
    position: absolute;
    line-height: 20px;
  }

  div.coordinates {
    left: $margin;
    top: calc(#{$margin} - 5px);
  }

  div.action {
    left: $margin;
    bottom: $margin;
  }

  div.status {
    right: $margin;
    top: $margin;
  }
}
