.help-overlay {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);

  .center {
    text-align: center;
  }

  .key {
    color: rgb(150, 150, 150);
  }

  .help-overlay__inside {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    width: 600px;
    height: 400px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;

    .help-overlay__inside__top {
      display: inline-block;
      width: 100%;

      p {
        font-size: 0.8em;
      }

      margin-bottom: 1em;
    }

    .help-overlay__inside__mid-left {
      font-size: 0.8em;
      display: inline-block;
      width: 50%;
      margin-bottom: 3em;
    }

    .help-overlay__inside__mid-right {
      font-size: 0.8em;
      display: inline-block;
      width: 50%;
    }

    .help-overlay__inside__bottom {
      font-size: 0.7em;
      display: inline-block;
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 20px;

      span {
        display: inline-block;
      }

      span:not(:last-child):after {
        content: '|';
        margin: 0 0.5em 0 0.5em;
      }

      a {
        text-decoration: none;
        color: rgb(100, 100, 255);
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  p {
    line-height: 1.2em;
    margin-bottom: 1.2em;
  }

  dl {
    display: grid;
    grid-template-columns: max-content auto;

    dt {
      grid-column-start: 1;
      width: 100px;
      color: rgb(150, 150, 150);
      margin-bottom: 0.5em;
    }

    dd {
      grid-column-start: 2;
    }
  }
}
